<%= simple_form_for @purchase, html: { class: 'form-horizontal' } do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description, input_html: { class: 'input-xxlarge', rows: 4 } %>
    <%= f.input :purchase_date, :wrapper => :prepend do %>
      <%= content_tag :span, '<i class="icon-calendar"></i>'.html_safe, class: "add-on calendar" %>
      <%= f.input_field :purchase_date, as: :datepicker, data: { 'date-format' => 'dd/mm/yyyy' } %>
    <% end %>
    <%= f.input :invoice %>
    <%= f.input :amount, :wrapper => :prepend do %>
      <%= content_tag :span, '<i class="icon-money"></i>'.html_safe, class: "add-on calendar" %>
      <%= f.input_field :amount, class: "input-mini" %>
    <% end %>
    <%= f.input :warranty_duration, collection: [["6 #{t('simple_form.labels.purchase.months')}", 6], ["1 #{t('simple_form.labels.purchase.year')}", 12], ["2 #{t('simple_form.labels.purchase.years')}", 24], ["3 #{t('simple_form.labels.purchase.years')}", 36]], input_html: { class: 'input-small' } %>
    <%= f.input :receipt %>
  </div>
  <div class="form-actions">
    <%= button_tag ('<i class="icon-ok"></i> ' + t('bookkeeper.actions.save')).html_safe, class: 'btn' %>
  </div>
<% end %>
