<%= simple_form_for @purchase, html: { class: 'form-horizontal' } do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :purchase_date, :wrapper => :prepend do %>
      <%= content_tag :span, '<i class="icon-th"></i>'.html_safe, class: "add-on calendar" %><%= f.input_field :purchase_date, as: :datepicker %>
    <% end %>
    <%= f.input :warranty_duration %>
  </div>
  <div class="form-actions">
    <%= f.submit 'Save', class: 'btn' %>
  </div>
<% end %>
