<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @purchase.title %>
</p>

<p>
  <b>Description:</b>
  <%= @purchase.description %>
</p>

<p>
  <b>Purchase date:</b>
  <%= @purchase.purchase_date %>
</p>

<p>
  <b>Warranty duration:</b>
  <%= @purchase.warranty_duration %>
</p>

<p>
  <b>Receipt:</b>
  <% if ['png', 'jpg', 'jpeg', 'gif'].include?(@purchase.receipt.file.extension.downcase) %>
    <%= link_to image_tag(@purchase.receipt.thumb.url), @purchase.receipt.url %>
  <% else %>
    <%= link_to "<i class='icon-download-alt'></i> #{@purchase.receipt.file.filename}".html_safe, @purchase.receipt.url, class: 'btn' %>
  <% end %>
</p>


<%= link_to '<i class="icon-pencil"></i> Edit'.html_safe, edit_purchase_path(@purchase), class: 'btn' %>
<%= link_to '<i class="icon-arrow-left"></i> Back'.html_safe, purchases_path, class: 'btn' %>
